/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}
/* end of Clearfix */

body {
 margin: 0;
}

header {
	background-color: #FAFAFA;
	padding: 0 10px;
}

.logo {
	float: left;
}

.logo img {
	width: 100px;
}

.search {
	float: right;
}

input[type=text] {
	padding: 10px 10px;
	box-sizing: border-box;
	margin-top: 25px;
}

main {
	margin-left: 150px
}

.search-content {
	margin-bottom: 40px;
}

.search-content h2 {
	margin-bottom: 5px;
}

.search-content p {
	margin-top: 8px;
};