/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}
/* end of Clearfix */

body {
 margin: 0;
}

header {
	background-color: #FAFAFA;
	padding: 0 10px;
	border-bottom: 1px solid #ebebeb;
}

.logo {
	float: left;
}

.logo img {
	width: 80px;
}

.search {
	margin-left: 140px;
}

input[type=text] {
	padding: 10px 10px;
	box-sizing: border-box;
	margin-top: 20px;
	width:500px;
	font-size: 18px;
	border: 2px solid lightgrey;
  border-radius: 4px;
  background-image: url('assets/icons/search.png');
  background-repeat: no-repeat;
  padding-left: 40px;
  background-position: 10px 10px;
  background-size: 20px;
}

/* https://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element */
input:focus {
	outline: none;
}

main {
	margin-left: 150px;
	margin-right: 300px;
}

.search-content {
	margin-bottom: 40px;
}

.search-content h2 {
	margin-bottom: 5px;
}

.search-content p {
	margin-top: 8px;
};