/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}
/* end of Clearfix */

body {
 margin: 0;
}

.settings-menu {
	background-color: #FAFAFA;
	transition: max-height 300ms ease-in;
  overflow: hidden;
  max-height: 0;
}

.settings-menu td {
	padding: 3px 0;
}

.show {
	overflow: hidden;
  max-height: 500px;
}

table {
	padding-left: 28px;
}

header {
	background-color: #F5F5F5;
	padding: 0 10px;
	border-bottom: 1px solid #ebebeb;
}

.logo {
	float: left;
	margin-left: 22px;
}

.logo img {
	width: 80px;
}

.search {
	margin-left: 33px;
	display: inline-block;
}

.menu {
	float: right;
}

.menu ul {
	margin-top: 3px;
	list-style-type: none;
}

.menu li {
	cursor: pointer;
}

input[type=text] {
	padding: 10px 10px;
	box-sizing: border-box;
	margin-top: 20px;
	width:500px;
	font-size: 18px;
	border: 2px solid lightgrey;
  border-radius: 4px;
  background-image: url('assets/icons/search.png');
  background-repeat: no-repeat;
  padding-left: 40px;
  background-position: 10px 10px;
  background-size: 20px;
}

/* https://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element */
input:focus {
	outline: none;
}

main {
	margin-left: 150px;
	margin-right: 300px;
}

.search-content {
	margin-bottom: 40px;
}

.search-content h2 {
	margin-bottom: 5px;
}

.search-content p {
	margin-top: 8px;
}

.active {
	color: grey;
}

/* Loading Animation */

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
  margin-right: 1px;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}